{% extends "layout.html" %}
{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Word</th>
        <th scope="col">Date Saved</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for word in all %}
      <tr>
        <th scope="row">{{word.id}}</th>
        <td><a href="http://127.0.0.1:5000/link/{{word.word}}">{{word.word}}</a></td>
        <td>{{word.date_added}}</td>
        <td><a href="http://127.0.0.1:5000/delete/{{word.word}}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}