{% extends "layout.html" %}
{% block content %}
    <center><h1>List of saved Words</h1></center>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Word</th>
            <th scope="col">Meaning</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for word in words %}
                <tr>
                    <td>{{word.id}}</td>
                    <td>{{word.word}}</td>
                    <td>{{word.meaning}}</td>
                    <td>
                      <form method = "GET" action="{{url_for('delete')}}">
                        <input type="hidden" name="target" value="{{word.id}}">
                        <button type="submit">Delete</button>
                      </form>
                      <form method = "GET" action="/edit">
                        <input type="hidden" name="id" value="{{word.id}}">
                        <button type="submit">Edit</button>
                      </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock content %}